src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.AssemblyInfo.cs
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.AssemblyInfoInputs.cache
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.assets.cache
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.csproj.AssemblyReference.cache
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.GeneratedMSBuildEditorConfig.editorconfig
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.AssemblyInfo.cs
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.AssemblyInfoInputs.cache
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.assets.cache
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.GeneratedMSBuildEditorConfig.editorconfig
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.AssemblyInfo.cs
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.AssemblyInfoInputs.cache
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.assets.cache
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.GeneratedMSBuildEditorConfig.editorconfig
src/LightHouseTests/bin/Debug/net8.0/CoverletSourceRootsMapping_LightHouseTests
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.AssemblyInfo.cs
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.AssemblyInfoInputs.cache
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.assets.cache
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.csproj.AssemblyReference.cache
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.GeneratedMSBuildEditorConfig.editorconfig
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.assets.cache
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.assets.cache
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.assets.cache
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.assets.cache
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.assets.cache
