src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.AssemblyInfo.cs
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.AssemblyInfoInputs.cache
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.assets.cache
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.csproj.AssemblyReference.cache
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.GeneratedMSBuildEditorConfig.editorconfig
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.AssemblyInfo.cs
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.AssemblyInfoInputs.cache
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.assets.cache
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.GeneratedMSBuildEditorConfig.editorconfig
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.AssemblyInfo.cs
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.AssemblyInfoInputs.cache
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.assets.cache
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.GeneratedMSBuildEditorConfig.editorconfig
src/LightHouseTests/bin/Debug/net8.0/CoverletSourceRootsMapping_LightHouseTests
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.AssemblyInfo.cs
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.AssemblyInfoInputs.cache
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.assets.cache
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.csproj.AssemblyReference.cache
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.GeneratedMSBuildEditorConfig.editorconfig
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.assets.cache
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.assets.cache
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.assets.cache
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.assets.cache
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.assets.cache
src/LightHouseApplication/bin/Debug/net8.0/LightHouseApplication.deps.json
src/LightHouseApplication/bin/Debug/net8.0/LightHouseApplication.dll
src/LightHouseApplication/bin/Debug/net8.0/LightHouseApplication.pdb
src/LightHouseApplication/bin/Debug/net8.0/LightHouseDomain.dll
src/LightHouseApplication/bin/Debug/net8.0/LightHouseDomain.pdb
src/LightHouseApplication/obj/Debug/net8.0/LightHou.3814AED6.Up2Date
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.csproj.CoreCompileInputs.cache
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.csproj.FileListAbsolute.txt
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.dll
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.pdb
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.sourcelink.json
src/LightHouseApplication/obj/Debug/net8.0/ref/LightHouseApplication.dll
src/LightHouseApplication/obj/Debug/net8.0/refint/LightHouseApplication.dll
src/LightHouseDomain/bin/Debug/net8.0/LightHouseDomain.deps.json
src/LightHouseDomain/bin/Debug/net8.0/LightHouseDomain.dll
src/LightHouseDomain/bin/Debug/net8.0/LightHouseDomain.pdb
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.csproj.CoreCompileInputs.cache
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.csproj.FileListAbsolute.txt
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.dll
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.pdb
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.sourcelink.json
src/LightHouseDomain/obj/Debug/net8.0/ref/LightHouseDomain.dll
src/LightHouseDomain/obj/Debug/net8.0/refint/LightHouseDomain.dll
src/LightHouseInfrastructure/bin/Debug/net8.0/LightHouseDomain.dll
src/LightHouseInfrastructure/bin/Debug/net8.0/LightHouseDomain.pdb
src/LightHouseInfrastructure/bin/Debug/net8.0/LightHouseInfrastructure.deps.json
src/LightHouseInfrastructure/bin/Debug/net8.0/LightHouseInfrastructure.dll
src/LightHouseInfrastructure/bin/Debug/net8.0/LightHouseInfrastructure.pdb
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHou.1EB8BA6A.Up2Date
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.csproj.AssemblyReference.cache
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.csproj.CoreCompileInputs.cache
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.csproj.FileListAbsolute.txt
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.dll
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.pdb
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.sourcelink.json
src/LightHouseInfrastructure/obj/Debug/net8.0/ref/LightHouseInfrastructure.dll
src/LightHouseInfrastructure/obj/Debug/net8.0/refint/LightHouseInfrastructure.dll
src/LightHouseTests/bin/Debug/net8.0/Castle.Core.dll
src/LightHouseTests/bin/Debug/net8.0/FluentValidation.dll
src/LightHouseTests/bin/Debug/net8.0/LightHouseApplication.dll
src/LightHouseTests/bin/Debug/net8.0/LightHouseApplication.pdb
src/LightHouseTests/bin/Debug/net8.0/LightHouseDomain.dll
src/LightHouseTests/bin/Debug/net8.0/LightHouseDomain.pdb
src/LightHouseTests/bin/Debug/net8.0/LightHouseTests.deps.json
src/LightHouseTests/bin/Debug/net8.0/LightHouseTests.dll
src/LightHouseTests/bin/Debug/net8.0/LightHouseTests.pdb
src/LightHouseTests/bin/Debug/net8.0/LightHouseTests.runtimeconfig.json
src/LightHouseTests/bin/Debug/net8.0/Microsoft.TestPlatform.CommunicationUtilities.dll
src/LightHouseTests/bin/Debug/net8.0/Microsoft.TestPlatform.CoreUtilities.dll
src/LightHouseTests/bin/Debug/net8.0/Microsoft.TestPlatform.CrossPlatEngine.dll
src/LightHouseTests/bin/Debug/net8.0/Microsoft.TestPlatform.PlatformAbstractions.dll
src/LightHouseTests/bin/Debug/net8.0/Microsoft.TestPlatform.Utilities.dll
src/LightHouseTests/bin/Debug/net8.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
src/LightHouseTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.Common.dll
src/LightHouseTests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
src/LightHouseTests/bin/Debug/net8.0/Moq.dll
src/LightHouseTests/bin/Debug/net8.0/Newtonsoft.Json.dll
src/LightHouseTests/bin/Debug/net8.0/NuGet.Frameworks.dll
src/LightHouseTests/bin/Debug/net8.0/System.Diagnostics.EventLog.dll
src/LightHouseTests/bin/Debug/net8.0/testhost.dll
src/LightHouseTests/bin/Debug/net8.0/xunit.abstractions.dll
src/LightHouseTests/bin/Debug/net8.0/xunit.assert.dll
src/LightHouseTests/bin/Debug/net8.0/xunit.core.dll
src/LightHouseTests/bin/Debug/net8.0/xunit.execution.dotnet.dll
src/LightHouseTests/bin/Debug/net8.0/xunit.runner.reporters.netcoreapp10.dll
src/LightHouseTests/bin/Debug/net8.0/xunit.runner.utility.netcoreapp10.dll
src/LightHouseTests/bin/Debug/net8.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
src/LightHouseTests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/LightHouseTests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/LightHouseTests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/LightHouseTests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/LightHouseTests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/LightHouseTests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/LightHouseTests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/LightHouseTests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/LightHouseTests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/LightHouseTests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/LightHouseTests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/LightHouseTests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/LightHouseTests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/LightHouseTests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/LightHouseTests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/LightHouseTests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/LightHouseTests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/LightHouseTests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/LightHouseTests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/LightHouseTests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/LightHouseTests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/LightHouseTests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/LightHouseTests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/LightHouseTests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/LightHouseTests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/LightHouseTests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/LightHouseTests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/LightHouseTests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/LightHouseTests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/LightHouseTests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/LightHouseTests/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.dll
src/LightHouseTests/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.Messages.dll
src/LightHouseTests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/LightHouseTests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/LightHouseTests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/LightHouseTests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/LightHouseTests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/LightHouseTests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/LightHouseTests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/LightHouseTests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/LightHouseTests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/LightHouseTests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/LightHouseTests/obj/Debug/net8.0/LightHou.110EAB6C.Up2Date
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.csproj.CoreCompileInputs.cache
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.csproj.FileListAbsolute.txt
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.dll
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.genruntimeconfig.cache
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.pdb
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.sourcelink.json
src/LightHouseTests/obj/Debug/net8.0/ref/LightHouseTests.dll
src/LightHouseTests/obj/Debug/net8.0/refint/LightHouseTests.dll
src/LightHouseApplication/obj/Debug/net8.0/LightHouseApplication.csproj.FileListAbsolute.txt
src/LightHouseDomain/obj/Debug/net8.0/LightHouseDomain.csproj.FileListAbsolute.txt
src/LightHouseInfrastructure/obj/Debug/net8.0/LightHouseInfrastructure.csproj.FileListAbsolute.txt
src/LightHouseTests/obj/Debug/net8.0/LightHouseTests.csproj.FileListAbsolute.txt
src/Clients/TerminalApp/obj/Debug/net8.0/TerminalApp.AssemblyInfo.cs
src/Clients/TerminalApp/obj/Debug/net8.0/TerminalApp.AssemblyInfoInputs.cache
src/LightHouseData/obj/Debug/net8.0/LightHouseData.AssemblyInfo.cs
src/LightHouseData/obj/Debug/net8.0/LightHouseData.AssemblyInfoInputs.cache
src/LightHouseIntegrationTests/obj/Debug/net8.0/LightHouseIntegrationTests.AssemblyInfo.cs
src/LightHouseIntegrationTests/obj/Debug/net8.0/LightHouseIntegrationTests.AssemblyInfoInputs.cache
src/LightHouseWebApi/obj/Debug/net8.0/LightHouseWebApi.AssemblyInfo.cs
src/LightHouseWebApi/obj/Debug/net8.0/LightHouseWebApi.AssemblyInfoInputs.cache
